## The only python libraries we need are pandas and saspy

In [73]:
import os
import json
from pprint import pprint
from airtable import Airtable
import pandas as pd
import saspy
sas = saspy.SASsession(cfgname='winlocal')
base_key = 'appInRX5iM5iijXuY'
table_name = 'yield'
airtable = Airtable(base_key, table_name, api_key=os.environ['AIRTABLE_API_KEY'])
print(airtable)

SAS Connection established. Subprocess id is 64200

<Airtable table:yield>

In [75]:
# Get All with Max Records
examplerecords = airtable.get_all()
    
exampledf = pd.DataFrame.from_records((r['fields'] for r in examplerecords))
exampledf.head()

,Date/Time,Moisture,Range,Row,SEQ#,Tstwght,Weight,entry,id,loc,lodging,plot,plot length (ft)
0,28/05/2012:15:33:09,14.491,2,12,63,67.762,6.643,21,G47,G,2,47,18.95
1,28/05/2012:14:27:11,13.724,1,1,1,72.021,3.975,13,G1,G,4,1,18.75
2,07/06/2012:14:59:42,0,4,19,1,0,0.732,17,H76,H,NaN,76,21.00
3,07/06/2012:15:29:30,17.138,2,16,27,67.969,2.112,20,H63,H,NaN,63,20.04
4,07/06/2012:15:25:03,0,1,3,21,0,0.749,17,H9,H,NaN,9,19.38

In [61]:
test4=test3.drop("createdTime", axis=1)

## Declare a sas libary on your local machine.  This is really just like a temp file to move data from pandas to sas.
Windows normal string vs raw string, see: https://stackoverflow.com/questions/37400974/unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3-trunca

In [ ]:
sas.saslib('example', path=r"C:\Users\screberg\Documents\My SAS Files")

## Move data from pandas to SAS

In [ ]:
examplesasdataset = sas.df2sd(df=test4,table='test4',libref='example')
examplesasdataset.head(3)

## This lets us look at some basic statistics for the variable of interest

In [ ]:
%%SAS
libname example 'C:\Users\screberg\Documents\My SAS Files';
proc univariate data=example.examplesasdataset; 
Var Length; /*choose the variable you are interested in such as Length*/
Histogram;
run;
/*If you are concerned about whether the data were imported correctly, you can compare statistics derived from proc univariate
(such as mean, median, variance, etc) to those calculated in excel. They should be identical.*/

In [ ]:
%%SAS
proc sgplot data=example.examplesasdataset;
vbox length / category=graft group = irrigation;
xaxis label ="Graft treatments";
yaxis label ="Total root length (cm)";
run;
quit;

## To export your final analysis, utilize ods. Here I chose to create a pdf which I am calling exampleanalysis.pdf

In [ ]:
%%SAS
ods pdf file = "C:\Users\screberg\Documents\My SAS Files\exampleanalysis.pdf"; 
ods select Tests3 MeanPlot LSMLines; /*Here I am telling the ods to create a file that only contains my basica ANOVA results, a mean plot, and the ls means with tukey sep. */
Proc Glimmix data=example.examplesasdataset plots=studentpanel nobound;
class Trial Rep Graft Irrigation;
model Length = Graft|Irrigation/ ddfm=KR2;
random Trial Rep(Trial);
lsmeans graft/ plot=meanplot cl adjust=tukey  lines;
run;
ods pdf close;

# To export your final analysis, utilize ods. Here I chose to create an excel spreadsheet which I am calling example.xlsx

In [ ]:
%%SAS
ods excel file = "C:\Users\screberg\Documents\My SAS Files\example.xlsx" options(sheet_interval='none'); 
ods select Tests3 LSMeans LSMLines; /*Here I am telling the ods to create a file that only contains my basica ANOVA results, a mean plot, and the ls means with tukey sep. */
Proc Glimmix data=example.examplesasdataset plots=studentpanel nobound;
class Trial Rep Graft Irrigation;
model Length = Graft|Irrigation/ ddfm=KR2;
random Trial Rep(Trial);
lsmeans graft/ plot=meanplot adjust=tukey cl lines;
run;
ods excel close;